name: lesson1

on:
    push:
    pull_request:

jobs:
    echo-event:
        name: echo event
        runs-on: ubuntu-latest
        steps:
            - name: get event
              run: echo "this event is ${{github.event_name}}"
            #   run: ehco "This event is $GITHUB_EVENT_NAME"
            - name: echo github context
              run: echo "${{github.repositoryUrl}}"
            - name: list files
              run: ls -al